:root{
    --border-color:#c59d9d7e;
    --text-color:#7B7B79;
    --bg-color:#DEDCDB;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: var(--bg-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70vw;
    left: 50%;
    top:50px;
    padding: 15px;
    transform: translateX(-50%);
    backdrop-filter: blur(15px);
    background: #e8dde063;
    border-radius:20px;
    height: 60px;
    border: 1px solid var(--border-color);
    transition: all .5s cubic-bezier(.47,1.64,.41,.8);

}
.top-nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.top-nav svg{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.top-nav svg:nth-child(2){
    transform: rotate(45deg);
    transition: all 0.1s ease;
    color: var(--text-color);
}
.top-nav svg:nth-child(2):hover{
    color: #7B7B79;
}
.middle-nav{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    height:300px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.middle-nav-column {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    gap: 30px;
}
.middle-nav-column p{
    color: var(--text-color);
    text-transform: uppercase;
}
.middle-nav-column ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    gap:30px;
}
.middle-nav-column ul li a{
    color: black;
}
.middle-nav-column ul li a:hover{
    text-decoration: underline;
    color: blue ;
}

.hero-section{
    margin-top: 200px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text{
    font-size: 9rem;
    font-weight: 300;
    color: var(--text-color);
    opacity: 1;
    animation: fadeIn 1s ease-out forwards;
    z-index: -1;
}
.hero-img{
    width: 500px;
    height: auto;
    animation: box-thing 2s ease infinite;
    z-index: -100000;
}
.hero-section p{
    text-align: center;
    font-size: 40px;
    color: var(--text-color);
    font-family: 'Inter',sans-serif;
    padding: 0 200px;
    margin-top: 50px;

}
.hero-section p span{
    color: black;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
}
.features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 90px;
    margin-top: 150px;
    background-color: black;
}
.features-section *{
    color: white;
}
.features-section h2{
    font-size: 90px;
    margin-top: 100px;
    font-weight: 300;
}
.meet-atlas{
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
    padding: 0px 100px;
    margin-top: 80px;
}
.meet-atlas span{
    margin-bottom: 30px;
}
.phone-mockup img{
    width: 577px;
    height: auto;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
    gap: 50px;
    padding: 50px 30px;
    /* margin-top: 70px; */
    place-items: center;
}
.features p{
    font-size: 25px;
    padding: 30px 0px;
}

.features p:nth-child(2){
    color: var(--text-color);
    font-size: 20px;
}
.features-last{
    border-bottom: 1px solid var(--border-color);
}
.images-grid-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 100%;
    margin-top: 150px;
}
.images-grid-1 div{
    grid-column: span 1; 
    grid-row: span 1;
    width: 100%;
}

.images-grid-1 div img{
    width: 100% ;
    border-radius: 30px;
}
.images-grid-1 div:nth-child(1){
    grid-column: span 2
}
 

@keyframes box-thing {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

/* @keyframes fade-in {
    from {scale: .8; opacity: 0;}
    to {scale: 1; opacity: 1;}
    } */